h1 {
	font-size:18px;width:450px;
}

h2{
	 background-color: #99CCFF;
	 	border:2px solid black;
}

ul,li{ 
	padding:0; margin:0; overflow:hidden;
}

li{ 
	list-style:square;
}

img{ 
	border:0;width:600px;height:260px}
}

.box{ 
	width:2000px;
}

.box li{ 
	float:left; width:600px; height:400px; margin-right:10px;
}

.boxx{ 
	width:2000px;
}

.boxx div{ 
	float:left; width:600px; height:150px; margin-right:10px;

}

@media (max-width:800px){
	
	#fit{
		width:100%;
		min-width:300px; 
		max-width:800px;
		
	}
	
	img{
		min-width:200px;
		max-width:500px;
	}

}
}
